@import url('https://fonts.googleapis.com/css2?family=Montserrat');

* {
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.4;
    color: #011627;
    background-color: #ffffff;
    height: 100vh;

}

body {
    background-color: #e2e2e2;
    margin: 5%;
    height: 89vh;
}

.project-title {
    font-size: 4.5rem;
    margin-top: 10px;
    margin-left: 15px;
}

.project-description {
    margin: 0 0 50px 20px;
}

button {
    font-size: 1.2rem;
    border-radius: 15px;
    border: none;
    background-color: black;
    color: white;
    padding: 8px 15px;

    display: block;
    margin: 0 auto;
}
